---
import { getWall } from '../lib/works';
import WorkRow from '../components/WorkRow.astro';
import '../styles/global.css';
import { Font } from 'astro:assets';

const works = await getWall();
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<Font cssVariable="--font-dm-sans" preload />
    <title>Ryodgie Barnatia</title>
  </head>
  <body>
    <main class="wall">
      {works.map((work, i) => <WorkRow work={work} index={i} />)}
    </main>
  </body>
</html>